mixin about
	section.about-section
		div.container.container-about
			div.rectangle.rectangle-about-first
			div.rectangle.rectangle-about-second
			div.rectangle.rectangle-about-third

			div.container-intro__min.container-intro__min--about
				p.about__description Первично требуется разделить весь маркетинг на офлайн и онлайн, офлайн принято называть RoadShow, хотя фактически это путешествия вашей команды по знаковым конференциям и мероприятиям по всему миру.
				div.more-free Еще видео бесплатно