mixin buy
	section.buy-section
		div.container.container-buy
			div.rectangle.rectangle-about-first
			div.rectangle.rectangle-about-second
			div.rectangle.rectangle-about-third
			div.container-buy__button
				a(href="#").container-buy__button__link.button-red записаться на курс
