mixin footer
	footer
		div.container.container-footer
			div.container-footer__item
				span.fa__bg
					i.fa.fa-globe(aria-hidden="true")
				a(href='www.crypta.tv' target='_blank') www.crypta.tv
			div.container-footer__item
				span.fa__bg
					i.fa.fa-phone(aria-hidden="true")
				a(href='href="tel:+380443601696"' target='_blank') +38 (044) 360-16-96

			div.container-footer__item
				span.fa__bg
					i.fa.fa-envelope-o(aria-hidden="true" )
				a(href='mailto:cryptatv@gmail.com' target='_blank') cryptatv@gmail.com