mixin header()
    header.header
        div.container.container--header
            a(href='/').logo
                img(src="img/header/logo-min.png")
            nav.nav-header
                ul.header__list
                    li.header__list__item.header__list__item--main
                        a(href="#").header-link о спикере
                    li.header__list__item.header__list__item--main
                        a(href="#").header-link вебинары
                    li.header__list__item
                        a(href="#").header-link.button-red что вы получите



            
            
        
