mixin intro
    section.intro-section
        div.container-intro
            div.container-intro__min
                div.container__min-start
                    div.min-start
                        div.free бесплатно
                    div.min-number
                        div.rectangle.rectangle-first
                        div.rectangle.rectangle-second
                        div.rectangle.rectangle-third
                        div.webinar-nuber
                            div.number 1
                            div.text ВЕБИНАР
                div.container__min-video.youtube.videoWrapper#GZ3qcuH1BPU
                    img.container__min-video__play(src='img/section-intro/play.png')
                    img.container__min-video__img(src='img/section-intro/webinars/webinar1.png')






