mixin nav(data)
  menu.nav  
    div.close-btn
      
    nav.nav-wrap
      ul
        li
          a(href="#") о курсе
        li
          a(href="#")  цели и результаты
        li
          a(href="#")  спикеры
        li
          a(href="#") что вы получите
        li
          a(href="#")  отзывы
