mixin speacer
	section.section-speacer
		div.container.container-speacer
			h2.container-speacer__title о спикере

			div.container-speacer__inner
				div.container-speacer__inner-img
					img(src='../img/section-program/speacer.png')
				div.container-speacer__inner-description
					div.decoration-first
						div.rectangle.rectangle-first
						div.rectangle.rectangle-second
						div.rectangle.rectangle-third

					div.speacer-text
						span.name Игорь Перция
						span.dash -
						br
						span.about Маркетолог с более чем 7-ми летним стажем.  New Business Director в UAMASTER, Chief Marketing Officer в ESM.one
					div.speacer-text
						span.name Статьи нашего эксерта
						span.dash :
						br
						span.about
							a(href='https://mc.today/ya-dal-zadanie-chetyrem-agentstvam-i-vot-chto-poluchilos-kak-bizdev-igor-pertsiya-vybiral-podryadchika/') Ссылка на статью
					div.speacer-text
						span.name Игорь Перция
						span.dash -
						br
						span.about Маркетолог с более чем 7-ми летним стажем.  New Business Director в UAMASTER, Chief Marketing Officer в ESM.one Маркетолог с более чем 7-ми летним стажем.  New Business Director в UAMASTER, Chief Marketing Officer в ESM.one
			div.container-speacer__video
				div.container-speacer__inner__single.youtube.videoWrapper#GZ3qcuH1BPU
					img.container__min-video__play(src='img/section-intro/play.png')
					img.container__min-video__img(src='img/section-intro/webinars/webinar1.png')
				div.container-speacer__inner__single.youtube.videoWrapper#GZ3qcuH1BPU
					img.container__min-video__play(src='img/section-intro/play.png')
					img.container__min-video__img(src='img/section-intro/webinars/webinar1.png')
				div.container-speacer__inner__single.youtube.videoWrapper#GZ3qcuH1BPU
					img.container__min-video__play(src='img/section-intro/play.png')
					img.container__min-video__img(src='img/section-intro/webinars/webinar1.png')
				div.container-speacer__inner__single.youtube.videoWrapper#GZ3qcuH1BPU
					img.container__min-video__play(src='img/section-intro/play.png')
					img.container__min-video__img(src='img/section-intro/webinars/webinar1.png')
