mixin webinars
	section.webinars-section
		div.container.container-webinars
			div.container-intro__min.container-intro__min--webinar
				div.min-webinar__main
					div.container__min-video.min-webinar-column45.youtube.videoWrapper#GZ3qcuH1BPU
						img.container__min-video__play(src='img/section-intro/play.png')
						img.container__min-video__img(src='img/webinars/webinar2.png')
						div.webinar-description
							div.webinar-description__number 2
							div.webinar-description__title ВЕБИНАР 2
							div.webinar-description__text Какие инструменты используются для маркетинга ICO
					div.container__min-video.min-webinar-column45.youtube.videoWrapper#GZ3qcuH1BPU
						img.container__min-video__play(src='img/section-intro/play.png')
						img.container__min-video__img(src='img/webinars/webinar3.png')
						div.webinar-description
							div.webinar-description__number 3
							div.webinar-description__title ВЕБИНАР 3
							div.webinar-description__text Какие инструменты используются для маркетинга ICO
				div.min-webinar__main.min-webinar__main--second.youtube.videoWrapper#GZ3qcuH1BPU
					div.container__min-video
						img.container__min-video__play(src='img/section-intro/play.png')
						img.container__min-video__img(src='img/webinars/video-last.png')
