@font-face{
  font-family: "mpb";
  src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face{
  font-family: "mpr";
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf");
  font-style: normal;
  font-weight: 400;
}

